/* stylelint-disable color-function-notation */
/* stylelint-disable color-hex-length */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
  padding-top: 141px;
}

.search-form {
  display: flex;
  gap: 40px;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  width: 15px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 20px;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 500;
  line-height: 0.95;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  width: 711px;
  height: 400px;
  position: relative;
}

.result__video {
  position: relative;
  width: 100%;
  height: 100%;
}

.content__list-item:not(:last-child) {
  padding-bottom: 32px;
}

.content__video-card {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 194px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 6px;
  text-transform: uppercase;
  line-height: 1;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Форма */

fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
}

.search-form__checkbox-list .search-form__label,
.button {
  cursor: pointer;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  appearance: none;
  background: #000000;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-right: 0;
  width: 225px;
  height: 27px;
  color: #fff;
}

input::placeholder {
  font-family: Fira Sans Condensed;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__pseudo-checkbox {
  border: 1px solid #ffffff;
  width: 19px;
  height: 19px;
  display: block;
}

input[type='checkbox']:checked + span::before {
  content: '';
  width: 17px;
  height: 17px;
  background-color: #fff;
  display: block;
  border: 2px solid #000;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.button {
  border: 1px solid #ffffff;
  padding: 6px 0;
  background: #000000;
  color: #ffffff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: auto;
}

/* END Форма */

/* Состояния */

.search-form__textfield:focus,
.button:focus,
.content__card-link {
  outline: none;
}

.search-form__label:has(:focus-visible),
.button:focus-visible,
.search-form__textfield:active,
.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.search-form__label:hover .search-form__label-text,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.button:active,
.content__card-link_current {
  background: #545050;
}

.content__card-link_current .content__video-card-thumbnail {
  border: 1px dashed #7e7e7e;
}

/* END Состояния */
